.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.App-Row {
  /* flex: 1; */
  text-align: center;
}

#top {
  background: #383636;
}

#bottom {
  background: #121212;
}

.App-Login {
  margin: 1rem;
}

.App-Login button {
  padding: 10px 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 11px;
  font-weight: 600;
  outline: none;
  border-radius: 20px;
  background: #1ed760;
  border: 1px solid #1ed760;
  outline: none;
}

.App-Login button:hover {
  background: #43e57d;
}

.App-Login button a {
  text-decoration: none;
  color: white;
}

.App-Artist-Info:first-child {
  color: #B3B3B3;
  font-weight: 400;
  margin: 1rem 0;
}

.App-Artist-Info:last-child {
  margin: 1rem 0;
}

.App-Artist-Current {
  color: #FFFFFF;
  font-weight: 500;
}

.App-Artist-Song {
  color: #B3B3B3;
  font-weight: 400;
  margin: .3rem 0 .7rem 0;
}

.App-Artist-Cover img {
  height: 200px;
}

.App-Check-Current {
  margin: .7rem 0 1rem 0;
}

.App-Check-Current button {
  background: none;
  color: #c8c8c8;
  border: 1px solid #c8c8c8;
  border-radius: 20px;
  padding: 5px 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 11px;
  outline: none;
}

.App-Check-Current button:hover {
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}

.App-Lyrics {
  color: #B3B3B3;
  font-weight: 400;
  margin: 1rem;

}
