.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.App-Row {
  text-align: center;
}

#top {
  background-image: linear-gradient(#5d5e5f, #121212);
}

#bottom {
  background: #121212;
}

.App-Login {
  margin: 1.5rem;
}

.App-Login button {
  padding: 10px 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 11px;
  font-weight: 600;
  outline: none;
  border-radius: 20px;
  background: #1ed760;
  border: 1px solid #1ed760;
  outline: none;
}

.App-Login button:hover {
  background: #43e57d;
}

.App-Login button a {
  text-decoration: none;
  color: white;
}

.App-Playing {
  color: #B3B3B3;
  font-weight: 400;
  margin: 1rem 0;
  text-transform: uppercase;
}

.App-Artist-Info {
  margin: 1rem;
}

.App-Artist-Current {
  color: #FFFFFF;
  font-weight: 500;
}

.App-Artist-Song {
  color: #B3B3B3;
  font-weight: 400;
  margin: .5rem 0 0 0;
}

.App-Artist-Cover img {
  height: 200px;
}

.App-Check-Current {
  margin: 1.5rem 0 1.5rem 0;
}

.App-Check-Current button {
  background: none;
  color: #c8c8c8;
  border: 1px solid #c8c8c8;
  border-radius: 20px;
  padding: 5px 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 11px;
  outline: none;
}

.App-Check-Current button:hover {
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}

.App-Error {
  width: 50%;
  margin: 1rem auto 1.2rem;
  padding: 1rem;
  background: #CD1A2B;
  color: #ffffff;
}

.App-Lyrics {
  color: #B3B3B3;
  font-weight: 400;
  margin: 1.3rem;
  line-height: 27px;
}
